<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Android Practical"
        android:supportsRtl="true"
        android:theme="@style/Theme.Exp2"
        tools:targetApi="31">
        <activity
            android:name=".call"
            android:exported="false" />
        <activity
            android:name=".contacts"
            android:exported="false" />
        <activity
            android:name=".exp10Second"
            android:exported="false" />
        <activity
            android:name=".exp10"
            android:exported="false" />
        <activity
            android:name=".exp6"
            android:exported="false" />
        <activity
            android:name=".exp8"
            android:exported="false" />
        <activity
            android:name=".exp7"
            android:exported="false" />
        <activity
            android:name=".exp4"
            android:exported="false" />
        <activity
            android:name=".exp4land"
            android:exported="false" />
        <activity
            android:name=".exp5"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- Change below -->
        <activity
            android:name=".exp9"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>